// Variables Import;
@import "../../styles.scss";

/************************************
   Score Component Styles
*************************************/

/* Containers/Wrappers Styles */

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-logo-wrapper {
  height: 80px;
  width: fit-content;
}

.score-wrapper {
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-white;
  border-radius: $border-radius;
}

/* Image Styles */

.game-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Text Styles */

.score-title {
  color: $score-text;
  letter-spacing: $letter-spacing;
  font-size: $font-size-small;
}

.score-number {
  color: $dark-text;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-x-large;
}
