/* Variables Import */
@import "../styles.scss";

/************************************
    App Root Component Styles
*************************************/

/* Container Styles */

.project-container {
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(
    to right,
    $background-gradient-start,
    $background-gradient-end
  );
  color: $light-text;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

.header-container {
  border: 4px solid $header-outline;
  width: 70%;
  margin-inline: $margin-inline;
  padding: $padding-regular;
  border-radius: $border-radius;
}

.main-container {
  text-align: center;
  width: 90%;
  margin-inline: $margin-inline;
  margin-top: 3rem;
}

.footer-container {
  margin-top: 4rem;
}

/* Media Query min-width: 768px */

@media screen and (min-width: 768px) {
  .header-container {
    width: 40%;
  }

  .main-container {
    margin-top: 5rem;
  }

  .footer-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
  }
}

/* Media Query min-width: 1024px */
@media screen and (min-width: 1024px) {
  .header-container {
    width: 30%;
  }
}
