// Variables Import;
@import "../../styles.scss";

/************************************
    Gameplay Component Styles
*************************************/

.choices-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.svg-icon {
  background: $background-white;
  padding: 2.5rem;
  height: 40px;
  border-radius: $border-radius-circle;
  margin-bottom: 2rem;
}

.btn-scissors {
  border: 15px solid $scissors-border;
}

.btn-paper {
  border: 15px solid $paper-border;
}

.btn-rock {
  border: 15px solid $rock-border;
}

.btn-lizard {
  border: 15px solid $lizard-border;
}

.btn-spock {
  border: 15px solid $cyan-border;
}

.results-wrapper {
  margin-top: 1rem;
}

.results {
  color: $light-text;
  font-size: $font-size-x-large;
}

.replay-btn {
  background: $background-white;
  color: $dark-text;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  padding: 1rem 4rem;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
}

/* Media query at min-width 768px */

// Switch to grid layout for larger screens to meet project requirements
@media screen and (min-width: 768px) {
  .choices-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "player results computer";
    width: max-content;
    margin: 0 auto;
  }

  .player-choice {
    grid-area: player;
  }

  .results-wrapper {
    grid-area: results;
  }

  .computer-choice {
    grid-area: computer;
  }

  .replay-btn {
    margin-top: 2rem;
  }
}
